<%= form_for collection, :url => url_for(:controller => 'users/collections', :action => 'update') do |f| %>
    <div class="form-group">
        <%= text_area_tag :cards, nil, class: "form-control", id: "cards", placeholder: "eg. 1x Severing Winds"%>
    </div>

    <%= f.submit class: "btn btn-primary", value: "Add Cards"%> 
<% end %>