<% if remaining_cards %>
    <div class="row">
        <div class="col">
            <h4>The Following Cards could not be found:</h4>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <ul>
                <% remaining_cards.each do |card| %>
                    <li><%= card.capitalize %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>