<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h4>Collections</h4>
            </div>
        </div>
        <% if @collections.length == 0 %>
            <div class="row">
                <div class="col">
                    <h4>No collections are present</h4>
                </div>
            </div>
        <% end %>

        <% @collections.each do |collection| %>
            <%= render "users/collections/block", collection: collection %>
        <% end %>

        <div class="row">
            <div class="col">        
                <%= form_tag('collections/new', method: "GET") do %>
                    <div><%= submit_tag 'New', class: "btn btn-lg btn-success btn-block" %></div>
                <% end %>
            </div>
        </div>
    </div>
</div>