<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>
                    Designed and built by Riizu. Contact:
                    <a href="http://github.com/riizu"><i class='fa fa-github'></i></a>
                    <a href="http://reddit.com/u/riizu"><i class='fa fa-reddit'></i></a>
                    <a href="mailto:rgbatty@outlook.com"><i class='fa fa-envelope'></i></a>
                </span>

                <div>
                    <span>
                        Check us out on Discord!
                        <a href="http://discord.gg/6hPk6Xq"><i class='fa fa-comment'></i></a>
                    </span>
                </div>

                <div>
                    <span>
                        You may contribute on Paypal
                        <a href="http://paypal.me/riizu"><i class='fa fa-money'></i></a>
                    </span>
                </div>

                <p>
                    The information presented on this site about Force of Will, both literal and graphical, is copyrighted by Force of Will Co.,Ltd. This website is not produced, endorsed, supported, or affiliated with Force of Will Co.,Ltd.
                </p>
            </div> 
        </div>
    </div>
</footer>