<div class="row banner">
    <div class="col">
        <div class="text-center">
            <h1 class="text-uppercase site-title">FoW Tutor</h1>
            <h4 class="site-slogan">Your Resource for Force of Will</h4>
        </div>
    </div>
</div>