<div class="row">
    <div class="col">
        <div>
            <h2>FoW Tutor</h2>
            <h4>Your Resource for Force of Will</h4>
        </div>

        <div>
            <% if current_user %>
                <h4>Welcome, <%= current_user.username %></h4>
            <% else %>
                <button><%= link_to("Register", new_user_registration_path) %></button>
                <button><%= link_to("Log In", new_user_session_path) %></button>
            <% end %>
            
        </div>
    </div>
</div>