<%= render "home/header" %>

<div class="row">    
    <% @decklists.each_with_index do |decklist, i| %>
        <div class="col-md-6">
            <% cache decklist do %>
                <%= render "home/card", decklist: decklist %>
            <% end %>
        </div>
    <% end %>
</div>

