<div class="row">
    <div class="col deck">
        <hr>
            <h4><%= deck_name %></h4>
        <hr>

        <div id="<%= deck_name.downcase + "-deck" %>">
            <% if cards %>
                <% cards.each do |name, amount_and_ids| %>
                    <% card_name = name.downcase.gsub(" ", "-").gsub("'", "").gsub(",","") %>
                    <div>
                        <button type='button' class='btn btn-default decklist-remove-card'><i class='fa fa-times'></i></button>
                        <div id="<%= card_name %>"><%= "#{amount_and_ids[0]}x #{name}"%></div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
