<div class="row">
    <div class="col">
        <%= form_for decklist do |f| %>
            <div class="form-group">
                <%= f.text_field :name, class: "form-control", placeholder: "Deck Name" %>
            </div>

            <div class="form-group">
                <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
            </div>

            <%= f.submit class: "btn btn-primary", value: "Create Decklist" %> 
        <% end %>
    </div>
</div>