<div class="row">
    <div class="col-md-12">
        <div class="decklist-name text-center">
            <h1><%= decklist.name %></h1>
        </div>

        <%= render "decklists/social_statistics", decklist: decklist %>

        <div class="date pull-right">
            <span><%= time_ago_in_words(decklist.created_at) %> ago</span>
        </div>
    </div>
</div>