<% decklists.each do |decklist| %>
    <div class="deck-card">
        <div class="row deck-info">
            <div class="col-md-12">
                <%= render "decklists/social_statistics", decklist: decklist %>
                
                <div class="thumbnail pull-left">
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/140x80"></a>
                </div>

                <div class="deck-name text-truncate">
                    <h4><%= link_to(decklist.name, decklist_path(decklist)) %></h4>
                </div>
            
                <div class="author small">
                    <span>by <%= link_to decklist.user.username, user_path(decklist.user) %> - <%= time_ago_in_words(decklist.created_at) %> ago</span>
                </div>
            </div>
        </div>
    </div>
<% end %>


