<h4>Cards Needed: 
<% if cards_needed && cards_needed.length > 0 %>
    </h4>
    <ul>
        <% cards_needed.each do |card, amount| %>
            <li>(<%= amount %>) <%= link_to(card.name, card_path(card)) %></li>
        <% end %>
    </ul>
<% else %>
    None!</h4>
<% end %>