<div class="row">
    <div class="col-md-3">
        <%= render "decklists/presorts" %>
    </div>
    
    <div class="col-md-9">
        <h3><%= @header %></h3>
        <%= render "decklists/list", decklists: @decklists %>
    </div>
</div>

<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        <%= paginate @decklists %>
    </div>
</div>