<div class="col">
    <hr>
    <h4>Cards</h4>
    <hr>
    
    <div style="overflow:scroll; height:400px;">
        <% cards.each do |card| %>
            <div>
                <%= card.name %>
            </div>
        <% end%>
    </div>
</div>