<div class="row title">
    <div class="col-md-10">
        <h2><%= @card.name %>(<%= @card.code %>)</h2>
    </div>
</div>

<%= render "cards/stats", card: @card %>

<div class="row">
    <div class="col">
        <%= render "tags/form", target: @card %>
    </div>
</div>