<div class="container">
<%= content_tag :table, role: :datatable, data: { url: cards_path(format: :json)} do %>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Subtype</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
<% end %>
</div>


